<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="G_RPC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <G_RPC.Properties.Settings>
            <setting name="app_id" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="img_large_name" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="img_large_text" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="img_small_name" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="img_small_text" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="state" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="details" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="tray_closing" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="tray_closing_q" serializeAs="String">
                <value>False</value>
            </setting>
        </G_RPC.Properties.Settings>
    </userSettings>
</configuration>